{% extends 'base.html.twig' %}

{% block title %}Yeti | Nejlépe hodnocení{% endblock %}

{% block body %}

<h1 class="display-6 mb-4">Top {{ limit }}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Hodnocení</th>
            <th scope="col">Pohlaví</th>
            <th scope="col">Jméno</th>
            <th scope="col">Váha</th>
            <th scope="col">Výška</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for yeti in yetties %}
        <tr>
            <td>{{ yeti.rating|e }}</td>
            <td>{{ yeti.sex.name|e }}</td>
            <td>{{ yeti.name|e }}</td>
            <td>{{ yeti.weight|e }}</td>
            <td>{{ yeti.height|e }}</td>
            <td>
                <a class="btn btn-secondary" href="{{ path('detail', {'id': yeti.id }) }}">Detaily</a>
                <a class="btn btn-secondary" href="{{ path('stats', {'id': yeti.id }) }}">Statistiky</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
